{% extends '@Views/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<main>

    <div class="container px-4 py-5">

        {% include "@Views/partials/menu.html.twig" %}

        <h2 class="pt-4 pb-2 border-bottom">Dashboard</h2>

        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        </div>
    </div>
</main>

{% endblock %}