<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('dashboard') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('product_list') }}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('branch_list') }}">Branchs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>