{% extends '@Views/base.html.twig' %}

{% block title %}Branch edit{% endblock %}

{% block body %}

<main>
    <div class="container px-4 py-5">

        {% include "@Views/partials/menu.html.twig" %}

        <h2 class="pt-4 pb-2 border-bottom">Edit Branch {{ branch.name }}</h2>
        <div class="pt-4">
            <a href="{{ path('branch_list') }}" type="button" class="btn btn-primary float-end">Back</a>
        </div>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

            <form action="" method="post">

                <div class="mb-3">
                    <label class="form-label">Name</label>
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                    {% if form.name.vars['errors'] |length > 0 %}<div style="color: red;">{{ form_errors(form.name) }}</div>{% endif %}
                </div>

                <div class="mb-3">
                    <input class="btn btn-success" type="submit" value="Submit">
                </div>

                {# {{ form_errors(form._token) }}
                {{ form_widget(form._token) }} #}

            </form>

        </div>
    </div>
</main>

{% endblock %}