{% extends '@Views/base.html.twig' %}

{% block title %}Branch list{% endblock %}

{% block body %}

    <main>
        <div class="container px-4 py-5">

            {% include "@Views/partials/menu.html.twig" %}

            <h2 class="pt-4 pb-2 border-bottom">Branchs ({{ branchs.getTotalItemCount }})</h2>
            <div class="pt-4">
                <a href="{{ path('branch_create') }}" type="button" class="btn btn-success float-end">Add new branch</a>
            </div>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

                <table class="table table-lg">
                    <thead>
                    <tr>
                        <th scope="col">{{ knp_pagination_sortable(branchs, '#', 'b.id') }}</th>
                        <th {% if branchs.isSorted('b.name') %} class="sorted"{% endif %} scope="col">{{ knp_pagination_sortable(branchs, 'Name', 'b.name') }}</th>
                        <th class="text-center" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for branch in branchs %}

                        <tr>
                            <th scope="row">{{ branch.id }}</th>
                            <th scope="row">{{ branch.name }}</th>
                            <td class="text-center">
                                <a href="{{ path('branch_edit', {id: branch.id}) }}" type="button" class="btn btn-secondary">Edit</a>
                                <a href="{{ path('branch_delete', {id: branch.id}) }}" type="button" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

                <div class="navigation">
                    {{ knp_pagination_render(branchs) }}
                </div>

            </div>
        </div>
    </main>

{% endblock %}