{% extends '@Views/base.html.twig' %}

{% block title %}Product edit{% endblock %}

{% block body %}

    <main>
        <div class="container px-4 py-5">

            {% include "@Views/partials/menu.html.twig" %}

            <h2 class="pt-4 pb-2 border-bottom">Edit Product</h2>
            <div class="pt-4">
                <a href="{{ path('product_list') }}" type="button" class="btn btn-primary float-end">Back</a>
            </div>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

                <form action="" method="post">

                    <div class="mb-3">
                        <label class="form-label">SKU</label>
                        {{ form_widget(form.sku, { 'attr': {'class': 'form-control'} }) }}
                        {% if form.sku.vars['errors'] |length > 0 %}<div style="color: red;">{{ form_errors(form.sku) }}</div>{% endif %}
                    </div>

                    <hr>

                    {% include "@Views/Product/partials/form/stock.html.twig" %}

                    <div class="mb-3">
                        <input class="btn btn-success" type="submit" value="Submit">
                    </div>

                    {# {{ form_errors(form._token) }}
                {{ form_widget(form._token) }} #}

                </form>

            </div>
        </div>
    </main>

{% endblock %}