{% extends '@Views/base.html.twig' %}

{% block title %}Product list{% endblock %}

{% block body %}

    <main>
        <div class="container px-4 py-5">

            {% include "@Views/partials/menu.html.twig" %}

            <h2 class="pt-4 pb-2 border-bottom">Products ({{ products.getTotalItemCount }})</h2>
            <div class="pt-4">
                <a href="{{ path('product_create') }}" type="button" class="btn btn-success float-end">Add new product</a>
            </div>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

                <table class="table table-lg">
                    <thead>
                    <tr>
                        <th scope="col">{{ knp_pagination_sortable(products, '#', 'p.id') }}</th>
                        <th {% if products.isSorted('p.sku') %} class="sorted"{% endif %} scope="col">{{ knp_pagination_sortable(products, 'SKU', 'p.sku') }}</th>
                        <th class="text-center" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for product in products %}

                        <tr>
                            <th scope="row">{{ product.id }}</th>
                            <th scope="row">{{ product.sku }}</th>
                            <td class="text-center">
                                <a href="{{ path('product_edit', {id: product.id}) }}" type="button" class="btn btn-secondary">Edit</a>
                                <a href="{{ path('product_delete', {id: product.id}) }}" type="button" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

                <div class="navigation">
                    {{ knp_pagination_render(products) }}
                </div>

            </div>
        </div>
    </main>

{% endblock %}