<div class="mb-3">
    <label class="form-label">Branch</label>
    {{ form_widget(form.branch, { 'attr': {'class': 'form-control'} }) }}
    {% if form.branch.vars['errors'] |length > 0 %}<div style="color: red;">{{ form_errors(form.branch) }}</div>{% endif %}
</div>

<div class="mb-3">
    <label class="form-label">Stock</label>
    {{ form_widget(form.total, { 'attr': {'class': 'form-control', 'disabled':'disabled'} }) }}
    {% if form.total.vars['errors'] |length > 0 %}<div style="color: red;">{{ form_errors(form.total) }}</div>{% endif %}
</div>

<div class="mb-3">
    <label class="form-label">Amount to add/remove</label>
    {{ form_widget(form.amount, { 'attr': {'class': 'form-control'} }) }}
    {% if form.amount.vars['errors'] |length > 0 %}<div style="color: red;">{{ form_errors(form.amount) }}</div>{% endif %}
</div>

<hr>

<span class="form-group-master"></span>