<div class="stocks" data-prototype='{% include '@Views/Product/partials/prototype/stock.html.twig' with {'form': form.stocks.vars.prototype}|escape %}'>
    {% for stock in form.stocks %}
        <div class="well">
            {% include '@Views/Product/partials/prototype/stock.html.twig' with {'form': stock} %}
        </div>
    {% endfor %}
</div>

<script>

    var baseStock = 'div.stocks';
    var collectionHolderStock = $(baseStock);
    var cptStock = collectionHolderStock.find('.well').length;

    var $addLinkStock = $('<div style="text-align: center;"><a href="#" data-collection-holder-class="stocks" class="btn btn-warning">Add stock</a></div>');
    var $newLinkLiStock = $('<div></div>').append($addLinkStock);

    $(document).ready(function() {
        $(baseStock + ' > div').each(function() {
            addFormStockDeleteLink($(this));
        });

        collectionHolderStock.append($newLinkLiStock);

        $addLinkStock.on('click', function(e) {
            e.preventDefault();

            addFormStock(collectionHolderStock, $newLinkLiStock);
        });
    });

    function addFormStock(collectionHolderStock, $newLinkLiStock) {
        var prototype = collectionHolderStock.attr('data-prototype');
        var newForm = prototype.replace(/__name__/g, cptStock);
        cptStock++;
        var $newFormLi = $('<div class="well"></div>').append(newForm);
        $newLinkLiStock.before($newFormLi);
        addFormStockDeleteLink($newFormLi);
    }

    function addFormStockDeleteLink($formLi) {
        var $removeFormA = $('<div style="display: inline-block;width: 200px; margin-bottom: 40px;"><a href="#" class="btn btn-danger">Remove stock</a></div>');
        $formLi.find('.form-group-master').append($removeFormA);

        $removeFormA.on('click', function(e) {
            e.preventDefault();
            $formLi.remove();
        });
    }
</script>